## School Dataset

In [26]:
import pandas as pd

# Read in the School DBN and location dataset
schools_url = "https://data.cityofnewyork.us/resource/qybk-bjjc.csv"
schools_df = pd.read_csv(schools_url)

# Define a list of the URLs for the attendance datasets
attendance_urls = [
    "https://data.cityofnewyork.us/resource/xwxx-rnki.csv",
    "https://data.cityofnewyork.us/resource/wpqj-3buw.csv",
    "https://data.cityofnewyork.us/resource/pffu-gbfi.csv",
    "https://data.cityofnewyork.us/resource/46g3-savk.csv",
    "https://data.cityofnewyork.us/resource/xc44-2jrh.csv"
]

# Create a list comprehension to read each CSV file into a data frame and store it in a list
dfs = [pd.read_csv(url) for url in attendance_urls]

# Concatenate all the data frames in the dfs list into a single data frame
attendance_df = pd.concat(dfs)

# Merge the attendance data frame with the schools data frame on the 'School' column and 'DBN' column respectively
school_df = pd.merge(attendance_df, schools_df, left_on='school', right_on='dbn', how='left')

# Print the number of rows not found
print(f"{school_df['location_name'].isnull().sum()} rows were not found in the schools dataset.")

# Prints the first columns and few rows of the dataframe
print(school_df.columns)
school_df.head()

0 rows were not found in the schools dataset.
Index(['school', 'date', 'schoolyear', 'enrolled', 'present', 'absent',
       'released', 'school_dbn', 'school_year', 'building_code', 'dbn',
       'location_name', 'location_code', 'address', 'borough',
       'geographical_district_code', 'register', 'building_name', 'schools',
       'schools_in_building', 'major_n', 'oth_n', 'nocrim_n', 'prop_n',
       'vio_n', 'engroupa', 'rangea', 'avgofmajor_n', 'avgofoth_n',
       'avgofnocrim_n', 'avgofprop_n', 'avgofvio_n', 'borough_name',
       'postcode', 'latitude', 'longitude', 'community_board',
       'community_council', 'census_tract', 'bin', 'bbl', 'nta'],
      dtype='object')

,school,date,schoolyear,enrolled,present,absent,released,school_dbn,school_year,building_code,...,borough_name,postcode,latitude,longitude,community_board,community_council,census_tract,bin,bbl,nta
0,01M015,20060905,20062007,252,226,26,0,NaN,2015-16,M015,...,MANHATTAN,10009.0,40.721807,-73.979022,3.0,2.0,2601.0,1004415.0,1.003740e+09,Lower East Side ...
1,01M015,20060906,20062007,248,227,21,0,NaN,2015-16,M015,...,MANHATTAN,10009.0,40.721807,-73.979022,3.0,2.0,2601.0,1004415.0,1.003740e+09,Lower East Side ...
2,01M015,20060907,20062007,245,228,17,0,NaN,2015-16,M015,...,MANHATTAN,10009.0,40.721807,-73.979022,3.0,2.0,2601.0,1004415.0,1.003740e+09,Lower East Side ...
3,01M015,20060908,20062007,246,226,20,0,NaN,2015-16,M015,...,MANHATTAN,10009.0,40.721807,-73.979022,3.0,2.0,2601.0,1004415.0,1.003740e+09,Lower East Side ...
4,01M015,20060911,20062007,248,223,25,0,NaN,2015-16,M015,...,MANHATTAN,10009.0,40.721807,-73.979022,3.0,2.0,2601.0,1004415.0,1.003740e+09,Lower East Side ...

## Bike Dataset

In [27]:
# Read in the two datasets
count_df = pd.read_csv('https://data.cityofnewyork.us/resource/uczf-rk3c.csv')
count_location = pd.read_csv('https://data.cityofnewyork.us/resource/smn3-rzf9.csv')

# Merge the two datasets on the "id" column
bike_df = pd.merge(count_df, count_location, on='id')

# Count the number of rows in the first dataset that are not in the merged dataset
non_matching_rows = count_df[~count_df['id'].isin(merged_df['id'])].shape[0]

# Print the number of non-matching rows
print(f"Number of non-matching rows: {non_matching_rows}")

# Prints the first columns and few rows of the dataframe
print(bike_df.columns)
bike_df.head()

Number of non-matching rows: 0
Index(['countid', 'id', 'date', 'counts', 'status', 'name', 'domain',
       'latitude', 'longitude', 'interval', 'timezone', 'sens', 'counter'],
      dtype='object')

,countid,id,date,counts,status,name,domain,latitude,longitude,interval,timezone,sens,counter
0,10014848,100009425,2022-06-24T00:00:00.000,15,0,Prospect Park West,New York City DOT,40.671288,-73.971382,60,(UTC-05:00) US/Eastern;DST,5,Y2H21121588
1,10014849,100009425,2022-06-24T00:15:00.000,12,0,Prospect Park West,New York City DOT,40.671288,-73.971382,60,(UTC-05:00) US/Eastern;DST,5,Y2H21121588
2,10014850,100009425,2022-06-24T00:30:00.000,14,0,Prospect Park West,New York City DOT,40.671288,-73.971382,60,(UTC-05:00) US/Eastern;DST,5,Y2H21121588
3,10014851,100009425,2022-06-24T00:45:00.000,5,0,Prospect Park West,New York City DOT,40.671288,-73.971382,60,(UTC-05:00) US/Eastern;DST,5,Y2H21121588
4,10014852,100009425,2022-06-24T01:00:00.000,10,0,Prospect Park West,New York City DOT,40.671288,-73.971382,60,(UTC-05:00) US/Eastern;DST,5,Y2H21121588

## Borough Population

In [44]:
bor_population = pd.read_csv('https://data.cityofnewyork.us/resource/xywu-7bv9.csv')
bor_population['borough'] = bor_population['borough'].str.upper()

# Prints the first columns and few rows of the dataframe
print(bor_population.columns)
bor_population.head()

Index(['age_group', 'borough', '_1950', '_1950_boro_share_of_nyc_total',
       '_1960', '_1960_boro_share_of_nyc_total', '_1970',
       '_1970_boro_share_of_nyc_total', '_1980',
       '_1980_boro_share_of_nyc_total', '_1990',
       '_1990_boro_share_of_nyc_total', '_2000',
       '_2000_boro_share_of_nyc_total', '_2010',
       '_2010_boro_share_of_nyc_total', '_2020',
       '_2020_boro_share_of_nyc_total', '_2030',
       '_2030_boro_share_of_nyc_total', '_2040',
       '_2040_boro_share_of_nyc_total'],
      dtype='object')

,age_group,borough,_1950,_1950_boro_share_of_nyc_total,_1960,_1960_boro_share_of_nyc_total,_1970,_1970_boro_share_of_nyc_total,_1980,_1980_boro_share_of_nyc_total,...,_2000,_2000_boro_share_of_nyc_total,_2010,_2010_boro_share_of_nyc_total,_2020,_2020_boro_share_of_nyc_total,_2030,_2030_boro_share_of_nyc_total,_2040,_2040_boro_share_of_nyc_total
0,Total Population,NYC TOTAL,7891957,100.00,7781984,100.00,7894862,100.00,7071639,100.00,...,8008278,100.00,8242624,100.00,8550971,100.00,8821027,100.00,9025145,100.00
1,Total Population,BRONX,1451277,18.39,1424815,18.31,1471701,18.64,1168972,16.53,...,1332650,16.64,1385108,16.80,1446788,16.92,1518998,17.22,1579245,17.50
2,Total Population,BROOKLYN,2738175,34.70,2627319,33.76,2602012,32.96,2230936,31.55,...,2465326,30.78,2552911,30.97,2648452,30.97,2754009,31.22,2840525,31.47
3,Total Population,MANHATTAN,1960101,24.84,1698281,21.82,1539233,19.50,1428285,20.20,...,1537195,19.20,1585873,19.24,1638281,19.16,1676720,19.01,1691617,18.74
4,Total Population,QUEENS,1550849,19.65,1809578,23.25,1986473,25.16,1891325,26.75,...,2229379,27.84,2250002,27.30,2330295,27.25,2373551,26.91,2412649,26.73

## Construction-related projects applications

In [30]:
construction_df=pd.read_csv('https://data.cityofnewyork.us/resource/ic3t-wcy2.csv')

# Prints the first columns and few rows of the dataframe
print(construction_df.columns)
construction_df.head()

Index(['job__', 'doc__', 'borough', 'house__', 'street_name', 'block', 'lot',
       'bin__', 'job_type', 'job_status', 'job_status_descrp',
       'latest_action_date', 'building_type', 'community___board', 'cluster',
       'landmarked', 'adult_estab', 'loft_board', 'city_owned', 'little_e',
       'pc_filed', 'efiling_filed', 'plumbing', 'mechanical', 'boiler',
       'fuel_burning', 'fuel_storage', 'standpipe', 'sprinkler', 'fire_alarm',
       'equipment', 'fire_suppression', 'curb_cut', 'other',
       'other_description', 'applicant_s_first_name', 'applicant_s_last_name',
       'applicant_professional_title', 'applicant_license__',
       'professional_cert', 'pre__filing_date', 'paid', 'fully_paid',
       'assigned', 'approved', 'fully_permitted', 'initial_cost',
       'total_est__fee', 'fee_status', 'existing_zoning_sqft',
       'proposed_zoning_sqft', 'horizontal_enlrgmt', 'vertical_enlrgmt',
       'enlargement_sq_footage', 'street_frontage', 'existingno_of_stories',
       'proposed_no_of_stories', 'existing_height', 'proposed_height',
       'existing_dwelling_units', 'proposed_dwelling_units',
       'existing_occupancy', 'proposed_occupancy', 'site_fill', 'zoning_dist1',
       'zoning_dist2', 'zoning_dist3', 'special_district_1',
       'special_district_2', 'owner_type', 'non_profit', 'owner_s_first_name',
       'owner_s_last_name', 'owner_s_business_name', 'owner_s_house_number',
       'owner_shouse_street_name', 'city_', 'state', 'zip', 'owner_sphone__',
       'job_description', 'dobrundate', 'job_s1_no',
       'total_construction_floor_area', 'withdrawal_flag', 'signoff_date',
       'special_action_status', 'special_action_date', 'building_class',
       'job_no_good_count', 'gis_latitude', 'gis_longitude',
       'gis_council_district', 'gis_census_tract', 'gis_nta_name', 'gis_bin'],
      dtype='object')

,job__,doc__,borough,house__,street_name,block,lot,bin__,job_type,job_status,...,special_action_status,special_action_date,building_class,job_no_good_count,gis_latitude,gis_longitude,gis_council_district,gis_census_tract,gis_nta_name,gis_bin
0,301793156,1,BROOKLYN,30,SCHAEFER STREET,3426.0,21.0,3079404,A3,R,...,N,NaN,C0,0,40.685185,-73.912220,37.0,401.0,Bushwick South,3079404.0
1,301776077,1,BROOKLYN,208,NORTH 8 STREET,2321.0,8.0,3061967,A2,X,...,N,NaN,S2,0,40.717318,-73.955431,33.0,519.0,North Side-South Side,3061967.0
2,301776291,1,BROOKLYN,933,51 STREET,5645.0,66.0,3137917,A1,X,...,N,NaN,C0,0,40.638728,-74.001250,38.0,114.0,Borough Park,3137917.0
3,302163557,1,BROOKLYN,96,ROCKWELL PLACE,2106.0,7501.0,3059160,A1,R,...,N,NaN,R0,0,40.687317,-73.979159,35.0,33.0,Fort Greene,3059160.0
4,440673852,1,QUEENS,246-08,135 ROAD,13228.0,9.0,4284335,A2,X,...,N,NaN,A2,0,40.669797,-73.729699,31.0,638.0,Rosedale,4284335.0

## Demographic Data

### Interesting but I couldn't merge the jurisdiction_name with anything

In [32]:
demographic_df=pd.read_csv('https://data.cityofnewyork.us/resource/kku6-nxdu.csv')

# Prints the first columns and few rows of the dataframe
print(demographic_df.columns)
demographic_df.head()

Index(['jurisdiction_name', 'count_participants', 'count_female',
       'percent_female', 'count_male', 'percent_male', 'count_gender_unknown',
       'percent_gender_unknown', 'count_gender_total', 'percent_gender_total',
       'count_pacific_islander', 'percent_pacific_islander',
       'count_hispanic_latino', 'percent_hispanic_latino',
       'count_american_indian', 'percent_american_indian',
       'count_asian_non_hispanic', 'percent_asian_non_hispanic',
       'count_white_non_hispanic', 'percent_white_non_hispanic',
       'count_black_non_hispanic', 'percent_black_non_hispanic',
       'count_other_ethnicity', 'percent_other_ethnicity',
       'count_ethnicity_unknown', 'percent_ethnicity_unknown',
       'count_ethnicity_total', 'percent_ethnicity_total',
       'count_permanent_resident_alien', 'percent_permanent_resident_alien',
       'count_us_citizen', 'percent_us_citizen', 'count_other_citizen_status',
       'percent_other_citizen_status', 'count_citizen_status_unknown',
       'percent_citizen_status_unknown', 'count_citizen_status_total',
       'percent_citizen_status_total', 'count_receives_public_assistance',
       'percent_receives_public_assistance',
       'count_nreceives_public_assistance',
       'percent_nreceives_public_assistance',
       'count_public_assistance_unknown', 'percent_public_assistance_unknown',
       'count_public_assistance_total', 'percent_public_assistance_total'],
      dtype='object')

,jurisdiction_name,count_participants,count_female,percent_female,count_male,percent_male,count_gender_unknown,percent_gender_unknown,count_gender_total,percent_gender_total,...,count_citizen_status_total,percent_citizen_status_total,count_receives_public_assistance,percent_receives_public_assistance,count_nreceives_public_assistance,percent_nreceives_public_assistance,count_public_assistance_unknown,percent_public_assistance_unknown,count_public_assistance_total,percent_public_assistance_total
0,10001,44,22,0.50,22,0.50,0,0,44,100,...,44,100,20,0.45,24,0.55,0,0,44,100
1,10002,35,19,0.54,16,0.46,0,0,35,100,...,35,100,2,0.06,33,0.94,0,0,35,100
2,10003,1,1,1.00,0,0.00,0,0,1,100,...,1,100,0,0.00,1,1.00,0,0,1,100
3,10004,0,0,0.00,0,0.00,0,0,0,0,...,0,0,0,0.00,0,0.00,0,0,0,0
4,10005,2,2,1.00,0,0.00,0,0,2,100,...,2,100,0,0.00,2,1.00,0,0,2,100

## Shooting dataset

In [69]:
shooting_df = pd.read_csv('https://data.cityofnewyork.us/resource/833y-fsy8.csv')
print(shooting_df.columns)
shooting_df.head()

Index(['incident_key', 'occur_date', 'occur_time', 'boro', 'loc_of_occur_desc',
       'precinct', 'jurisdiction_code', 'loc_classfctn_desc', 'location_desc',
       'statistical_murder_flag', 'perp_age_group', 'perp_sex', 'perp_race',
       'vic_age_group', 'vic_sex', 'vic_race', 'x_coord_cd', 'y_coord_cd',
       'latitude', 'longitude', 'geocoded_column'],
      dtype='object')

,incident_key,occur_date,occur_time,boro,loc_of_occur_desc,precinct,jurisdiction_code,loc_classfctn_desc,location_desc,statistical_murder_flag,...,perp_sex,perp_race,vic_age_group,vic_sex,vic_race,x_coord_cd,y_coord_cd,latitude,longitude,geocoded_column
0,228798151,2021-05-27T00:00:00.000,21:30:00,QUEENS,NaN,105,0,NaN,NaN,False,...,NaN,NaN,18-24,M,BLACK,1.058925e+06,180924.000000,40.662965,-73.730839,POINT (-73.73083868899994 40.662964620000025)
1,137471050,2014-06-27T00:00:00.000,17:40:00,BRONX,NaN,40,0,NaN,NaN,False,...,NaN,NaN,18-24,M,BLACK,1.005028e+06,234516.000000,40.810352,-73.924942,POINT (-73.92494232599995 40.81035186300006)
2,147998800,2015-11-21T00:00:00.000,03:56:00,QUEENS,NaN,108,0,NaN,NaN,True,...,NaN,NaN,25-44,M,WHITE,1.007668e+06,209836.531250,40.742607,-73.915492,POINT (-73.91549174199997 40.74260663300004)
3,146837977,2015-10-09T00:00:00.000,18:30:00,BRONX,NaN,44,0,NaN,NaN,False,...,NaN,NaN,<18,M,WHITE HISPANIC,1.006537e+06,244511.140625,40.837782,-73.919457,POINT (-73.91945661499994 40.83778200300003)
4,58921844,2009-02-19T00:00:00.000,22:58:00,BRONX,NaN,47,0,NaN,NaN,True,...,M,BLACK,45-64,M,BLACK,1.024922e+06,262189.406250,40.886238,-73.852910,POINT (-73.85290950899997 40.88623791800006)

## Putting everything together

In [70]:
# Merge shooting_df and bor_population on boro and borough respectively
shooting_df = pd.merge(shooting_df, bor_population, left_on='boro', right_on='borough',how='left')

# Print the number of rows not found in the shooting dataset
print(f"{shooting_df['_2010'].isnull().sum()} rows were not found in the shooting dataset.")
print(len(shooting_df))

# Merge shooting_df and construction_df on boro and borough respectively
shooting_df = pd.merge(shooting_df, construction_df, left_on='boro', right_on='borough',how='left')

# Print the number of rows not found in the shooting dataset
print(f"{shooting_df['house__'].isnull().sum()} rows were not found in the shooting dataset.")
print(len(shooting_df))

# Merge shooting_df and construction_df on boro and borough respectively
shooting_df = pd.merge(shooting_df, school_df, left_on='boro', right_on='borough_name',how='left')

# Print the number of rows not found in the shooting dataset
print(f"{shooting_df['school'].isnull().sum()} rows were not found in the shooting dataset.")
print(len(shooting_df))

1000 rows were not found in the shooting dataset.
1000
0 rows were not found in the shooting dataset.
279885

MemoryError: Unable to allocate 9.94 GiB for an array with shape (1334059365,) and data type int64

In [58]:
print(len(shooting_df))

Empty DataFrame
Columns: [incident_key, occur_date, occur_time, boro, loc_of_occur_desc, precinct, jurisdiction_code, loc_classfctn_desc, location_desc, statistical_murder_flag, perp_age_group, perp_sex, perp_race, vic_age_group, vic_sex, vic_race, x_coord_cd, y_coord_cd, latitude_x, longitude_x, geocoded_column, age_group, borough_x, _1950, _1950_boro_share_of_nyc_total, _1960, _1960_boro_share_of_nyc_total, _1970, _1970_boro_share_of_nyc_total, _1980, _1980_boro_share_of_nyc_total, _1990, _1990_boro_share_of_nyc_total, _2000, _2000_boro_share_of_nyc_total, _2010, _2010_boro_share_of_nyc_total, _2020, _2020_boro_share_of_nyc_total, _2030, _2030_boro_share_of_nyc_total, _2040, _2040_boro_share_of_nyc_total, job__, doc__, borough_y, house__, street_name, block, lot, bin__, job_type, job_status, job_status_descrp, latest_action_date, building_type, community___board, cluster, landmarked, adult_estab, loft_board, city_owned, little_e, pc_filed, efiling_filed, plumbing, mechanical, boiler, fuel_burning, fuel_storage, standpipe, sprinkler, fire_alarm, equipment, fire_suppression, curb_cut, other, other_description, applicant_s_first_name, applicant_s_last_name, applicant_professional_title, applicant_license__, professional_cert, pre__filing_date, paid, fully_paid, assigned, approved, fully_permitted, initial_cost, total_est__fee, fee_status, existing_zoning_sqft, proposed_zoning_sqft, horizontal_enlrgmt, vertical_enlrgmt, enlargement_sq_footage, street_frontage, existingno_of_stories, proposed_no_of_stories, ...]
Index: []

[0 rows x 181 columns]